---
import Layout from '../layouts/Layout.astro';
import AreaManager from '../components/AreaManager.vue';

---

<Layout title="Nuevo FODA">
    <main class="parent">
        <div>
            <AreaManager client:load/>
        </div>
    </main>
</Layout>

<style is:global>
	html{
		background-color: #022C55;
	}
    .parent {
		margin: auto;
		padding: 1.5rem;
		
	}
</style>