---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ejemplo">
    <main>
        <h1>Esto es un prueba</h1>
        <p>According to all known laws
            of aviation,
            there is no way a bee
            should be able to fly.
            
              
            Its wings are too small to get
            its fat little body off the ground.
            
              
            The bee, of course, flies anyway
            
              
            because bees don't care
            what humans think is impossible.</p>
    </main>
</Layout>

<style>

</style>