---
import Layout from '../layouts/Layout.astro';

import CounterReact from '../components/CounterReact.jsx';
import CounterVue from '../components/CounterVue.vue';

let variableExample = '<=== look';
---

<Layout title="Ejemplo">
    <main>
        <h1>Esto es un prueba</h1>
        <p>According to all known laws
            of aviation, 
            <br>
            <br>
            there is no way a bee
            should be able to fly.
            <br>
            <br>
            Its wings are too small to get
            its fat little body off the ground.
            <br>
            <br>
            The bee, of course, flies anyway
            <br>
            <br>
            because bees don't care
            what humans think is impossible.
        </p>
    </main>
</Layout>

<style>

</style>